<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://up-ipa.xyz/share/p81I2UpbsLt4uusA/direct</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://is.gd/rIx7VL</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://is.gd/rIx7VL</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.8ball.anas</string>
<key>bundle-version</key>
<string>1</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>8Ball</string>
<key>title</key>
<string> Pubg Mobile تکایە لەسەر ئەکاونتی خۆت تاقی مەکەوە @alontore "لەبوونی هەر کێشەیەک دەتوانی نامە بۆ چەنالی تیلیگرام بنێریت" Telegram : alonsore </string>
</dict>
</dict>
</array>
</dict>
</plist>
