<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/video-star-12.0.2-1694044845_202309/Video%20Star_12.0.2_1694044845.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://bit.ly/2YAm9Ki</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://bit.ly/2YAm9Ki</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.frontierdesign.videostar1</string>
				<key>bundle-version</key>
				<string>7.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>VideoStar-PRO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>